<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor portal</title>
    <link rel="stylesheet" href="./css/styledoctor344.css">
</head>
<body>
    <nav>
        <div class="logo"><a href="#"><%=email%></a></div>
         
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/doctor/docsession">Start Session</a></li>
            <li><a href="#">Prescriptions</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>

        </ul>
    </nav>
    
</body>
</html>