<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Portal</title>
    <script src="https://kit.fontawesome.com/42d50a4c3d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/prescriptiondoctor.css">
</head>
<body>
    <div class="sidebar">
        <a href="/Doctor/docsession">Home</a>
        <a  class="active" href="#">More Details</a>
        <a href="/doctor">End Session</a>
      </div>

    <!-- <div class="sidebar"> -->
        <div class="docname">Name : <span>Aman Singh</span></div>
        <div class="p1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius minima corrupti voluptatibus, fugit ab aperiam quisquam perspiciatis nisi quos dolores architecto, accusantium aliquid sed. Quasi, sint? Aliquid natus aspernatur dolor.</p></div>
        
        <div class="p1"><p>Prescription 2 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius minima corrupti voluptatibus, fugit ab aperiam quisquam perspiciatis nisi quos dolores architecto, accusantium aliquid sed. Quasi, sint? Aliquid natus aspernatur dolor.</p></div>

        <div class="p1"><p>Prescription 3 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius minima corrupti voluptatibus, fugit ab aperiam quisquam perspiciatis nisi quos dolores architecto, accusantium aliquid sed. Quasi, sint? Aliquid natus aspernatur dolor.</p></div>

        <div class="p1"><p>Prescription 4 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius minima corrupti voluptatibus, fugit ab aperiam quisquam perspiciatis nisi quos dolores architecto, accusantium aliquid sed. Quasi, sint? Aliquid natus aspernatur dolor.</p></div>
    <!-- </div> -->
</body>
