<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user portal</title>
    <link rel="stylesheet" href="./css/styleuser897.css">
    <link href="//db.onlinewebfonts.com/c/261506be3344b3806eefa054f0f6fbf1?family=Tempus+Sans+ITC" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <div class="logo"><a href="#"><%=email%></a></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/User/docsearch">Doctors</a>
             <div class="sub-menu-1">
                 <ul>
                     <li><a href="#">Dentist</a></li>
                     <li><a href="#">General Physician</a></li>
                     <li><a href="#">Dermatologist</a></li>
                     <li><a href="#">Gynecologist</a></li>
                     <li><a href="#">ENT Specialist</a></li>
                     <li><a href="#">Cardiologist</a></li>
                     <li><a href="#">Orthologist</a></li>
                     <li><a href="#">Homeopath</a></li>
                     <li><a href="#">Surgeon</a></li>
                     <li><a href="#">Ayurveda</a></li>
                 </ul>
             </div>
            </li>
            <li><a href="#">Prescriptions</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>

        </ul>
    </nav>

    <div class="intro">
        <h1>Welcome</h1>
        <p>Fix an appointment now at the ease of your home.</p>
    </div>

</body>
</html>